/*INDEX.HTML*/

body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header{
	font-family: 'Georgia', Times, Times New Roman, serif;
	display: inline-block;
	background-color: white;
	border-bottom: 2px solid #ccc;
	width: 100%;
}

.container{
	max-width: 960px;
}

#sub-container{
	background-image: url("../images/seigaiha.png");
}

.awesome-header{
	min-height: 50px;
	width: 100%;
	display: inline;
	background-color: green;
}

.header-container{
	width: 40%;
}

.name{
	background-color: #4aaaa5;
	color: white;
	margin-left: 10%;
	margin-bottom:0;
	height: 100%;
	padding: 20px;
	font-size: 1.7em;
	font-weight: bolder;
	float: left;
	text-align: center;
}

nav{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: white;
	width: 60%;
	margin-left: 40%;
}

#navlist li{
	display: inline;
	width: 60%;
	padding: 0px 15px;
	border-right: 1px solid;
	border-color: #777;
}

#navlist li a{

}

#main-content{
	clear: both;
	background-color: white;
	width: 650px;
	margin: 0 auto 0 auto;
}

.info{

}

.info img{
	max-height:200px;
	max-width:200px;
}

h2{
	background-color: white;
	padding: 20px;
	color: #4aaaa4;
	font-weight: bolder;
	font-size: 1.5em;
}

p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}

.connect-withme{
	width: 270px;
	background-color: white;
	float: right;
}

h3{

}

.connect-icons{

}

footer{
	clear: both;
	border-top: 4px solid;
	border-color: #ccc;
	background-color: #666;
	text-align: center;
	font-size: .6em;
	color: #999;
	padding: 24px;
}